#{extends 'main.html' /}
<meta charset="utf-8"/>
<link rel="stylesheet" type="text/css" href="@{'/public/stylesheets/UserManage.css'}"/>
#{set title:'ChangePassword.html' /}

<body id="pwd_body">
<div id="pwd_main">
	<div id="pwd_top" style="margin-top:0px;"><span style="font-family:Forte">Password</span></div>
	<hr/>
	<form method="post" action="@{DoChangePwd()}">
		<p><span class="pwd_title">Old Password:</span><span><input type="password" name="oldpwd"/></span></p>
		<p><span class="pwd_title">New Password:</span><span><input type="password" name="newpwd"/></span></p>
		<p><span class="pwd_title">Varify Password:</span><span><input type="password" name="validpwd"/></span></p>
		<p><input type="submit" value="submit" style="width:70px;height:30px;border-radius:10px;margin-left:70%;"/></p>
	</form>

</div>
</body>